@import url("style.css");

input {
    background-color: var(--jumbotron-background);
    color: var(--body-text-color);
    border: none;
}

h3 {
    font-weight: bold;
    margin-bottom: 1em;
}

.progress {
    background-color: var(--content-background);
    height: 1.5rem;
}

.weapon1_bar {
    background-color: var(--nord7);
    color: var(--nord5);
    font-weight: bold;
    text-align: right;
    /*padding-right: 0.5rem*/
}

.weapon2_bar {
    background-color: var(--nord10);
    color: var(--nord5);
    font-weight: bold;
    text-align: right;
    /*padding-right: 0.5rem*/
}

.weapon_bar_padded_text {
    padding-right: 0.5rem;
}

.characteristic-card {
    margin-bottom: 1em;
    padding: 1em;
    background-color: var(--jumbotron-background);
    border-radius: 5px;
}

.weapon-select-item {
    margin: 1em;
    padding: .5em;
}

.card-list-2-column {
    column-count: 2;
    padding-top: 1em;
}

#weapon_compare_container {
    width: 80%;
    margin-bottom: 10em;
}
