.headerbar {
  height: 0.5em;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.lorem-ipsum {
  /*color: #4c566a; */
  color:  #abb9cf;
}
#outerheader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0));
}
#innerheader {
  background-color: rgb(121, 210, 166);
  width: 0%;
}

