.search {
  border-style: solid;
  border-color: rgb(233, 233, 233);
  border-width: 1px;
  box-sizing: border-box;
  padding: 1em;
  height: 100%;
  width: 100%;
  font-size: 16px;
}
.result {
  overflow: hidden;
  border-style: none solid solid;
  border-width: 1px;
  border-color: rgb(233, 233, 233);
  /*background-color: #d3d3d3;*/
  box-sizing: border-box;
  padding: 1em;
  height: 100%;
  width: 100%;
}
#searchresults{
  max-width: 50em;
}
#highlighted{
  background-color: #53ac80;
  color: white;
}
			       
