.search {
  border-style: none;
  border-color: #3b4252;
  background-color: #3b4252;
  color: #d8dee9;
  border-width: 1px;
  box-sizing: border-box;
  padding: 1em;
  height: 100%;
  width: 100%;
  font-size: 16px;
}
.result {
  overflow: hidden;
  border-style: none solid solid;
  border-width: 1px;
  border-color: #4c566a;
  box-sizing: border-box;
  padding: 1em;
  height: 100%;
  width: 100%;
}
#searchresults{
  max-width: 50em;
}
#highlighted{
/*  background-color: #53ac80;*/
  background-color: #434c5e;
}
			       
