body{
  color: #d8dee9;
  background-color: #2e3440;
  min-height: 100vh;
}
h1, h2{
  margin: 0;
  margin-bottom: .5rem;
}
a {
  color: #abb9cf;
}
a:hover {
  color: #eceff4;
}
.section{
  margin-top: 2em;
}
.topbar {
  padding-top: 1em;
  text-align: center;
  background-color: #3b4252;
}
.links {
  padding-top: 1em; 
  border-top: 1px solid #d8dee9;
}
.pagecontent {
  max-width: 50em;
  margin: auto;
  border: none;
}
.nav-item:hover {
  background-color: #434c5e;
}
.nav-link:hover {
  color: #d8dee9;
}