:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --link-color: #abb9cf;
  --jumbotron-background: var(--nord1);
  --content-background: var(--nord0);
  --body-text-color: var(--nord4);
  --nav-hover-background: var(--nord8);
  --dropdown-select-color: var(--nord8);
}
body{
  color: var(--body-text-color);
  background-color: var(--content-background);
  min-height: 100vh;
}
h1, h2{
  margin: 0;
  margin-bottom: .5rem;
}
a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
}
.section{
  margin-top: 2em;
}
.topbar {
  padding-top: 1em;
  text-align: center;
  background-color: var(--jumbotron-background);
}
.links {
  padding-top: 1em; 
  border-top: 1px solid var(--body-text-color);
}
.pagecontent {
  max-width: 50em;
  margin: auto;
  border: none;
}
.nav-item:hover, .nav-link:hover, .dropdown-toggle:hover, .dropdown-item:hover, #dropdownMenuButton:focus{
  background-color: var(--nav-hover-background);
  color: var(--nord0);
  outline: 0;
}
.togglebtn, .dropdown-toggle, .dropdown-menu, .dropdown-item, .nav-link.togglebtn{
  color: var(--link-color);
  background-color: var(--jumbotron-background);
  border: none;
  border-radius:0px;
}
.dropdown-menu {
  padding: 0;
}
.togglebtn:hover {
  color: var(--nord0);
  background-color: var(--nav-hover-background);
  border: none;
  border-radius: 0px;
}
.dropdown, .nav-item {
  float: left;
  box-sizing: border-box;
}
#dropdownMenuButton{
  height: 100%;
}